*{
	margin: 0;
	padding: 0;
	/* line-height: 0; */
	list-style: none;
}
body {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

/* .bac_one{
	width: 7.5rem;
	height: .94rem;
	background: url('./images/oring.jpg');
	top: .48rem;
} */
.bac_two{
	position: relative;
	width: 7.5rem;
	height: 1.46rem;
	background: url('../images/pink.jpg') center center;
	background-size: 100%;
}
.bac_two input{
	position: absolute;
	width: 5.18rem;
	height: .62rem;
	opacity: .6;
	border: none;
	border-radius: .2rem;
	bottom: .18rem;
	left: 50%;
	margin-left: -2.59rem;
	background: #fff url('../images/search.png') no-repeat 4.56rem .15rem;
	background-size: .38rem .38rem;
	font-size: 20px;
}
.banner img{
	width: 7.5rem;
	height: 3.8rem;
	vertical-align: top;
}
