.top{
  width: 7.5rem;
  height: .48rem;
  background-color: #ff9900;
}
.login_top{
  position: relative;
  width: 7.5rem;
  height: .96rem;
  background-color: #ff9900;
  text-align: center;
  font-size: .36rem;
  color: #fff;
  line-height: .96rem;
}
.login_top .left{
  position: absolute;
  width: .26rem;
  height: .44rem;
  left: .34rem;
  top:.28rem;
}
.log{
  float: left;
  margin-left: 45%;
  /*margin-left: -3rem;*/
}
.reg{
  float: right;
  margin-right: .3rem;
}
.tel{
  height: 1.28rem;
  width: 6rem;
  border-bottom: .01rem solid #b3b3b3;
  font-size: .32rem;
  line-height: 1.28rem;
  margin-left: .74rem;
}
.content{
  margin-top: 1.88rem;
}
.content p{
  line-height: 1rem;
  font-size: .28rem;
  color: #999999;
  margin-left: 5.47rem;
}
.content button{
  width: 6rem;
  height: 1rem;
  border: none;
  background-color: #ff9900;
  margin-left: .76rem;
  font-size: .34rem;
  color: #fff;
  border-radius: .2rem;
}
